@import "../_Variables";

.absolute-popover {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $white;

}

.autocomplete-container {
    position: relative;

    >input {
        line-height: 1.5em;
        min-width: 300px;
        font-size: 1.5em;
    }

    >.loading-div {
        @extend.absolute-popover;
        max-width: 300px;
        max-height: 300px;
        border: $default-border;
        padding: 0.5em;
    }

    >.autocomplete-results {
        @extend.absolute-popover;
        max-width: 300px;
        max-height: 300px;
        overflow: auto;

        >.autocomplete-results-row {
            border: $default-border;
            padding: 0.5em;

        }
    }


}